# Created by https://www.gitignore.io/api/assembler
# Edit at https://www.gitignore.io/?templates=assembler

### Assembler ###
*.exe
*.EXE
*.o
*.O
*.obj
*.OBJ
*.bc
*.BC

# End of https://www.gitignore.io/api/assembler
nasm/

val/
